@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

h2 {
  font-size: 4.5rem;
  font-weight: 700;
  padding: 3rem;
  color: #6C63FF;
}

button {
  text-decoration: none;
  border: solid 2px #6C63FF;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #6C63FF;
  padding: 1.5rem 3rem;
  border-radius: 20px;
  margin: 3rem;
}

button:hover {
  transition: 0.3s ease-in;
  border: solid 2px #fff;
  background: #6C63FF;
  color: #fff;
}

.em-breve {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.dia,
.hora,
.min,
.seg {
  font-size: 3rem;
}

.waitImg {
  position: absolute;
  top: 25rem;
  left: 82rem;
  height: 50rem;
}

.bottomImg {
  position: absolute;
  top: 50rem;
  right: 35rem;
}

.topImg {
  position: absolute;
  bottom: 54rem;
  left: 35rem;
}